In [2]:
import pandas as pd
data = pd.read_csv('data/clean_all_correct.csv')

In [7]:
dictdata = {}
for i in range(1,9):
    dictdata[i] = data[data['class']==i].reset_index()[['class','problem','code','answer']]

In [9]:
dictdata[1]

,class,problem,code,answer
0,1,윤아는 부추전을 똑같이 8조각으로 나누어 한 조각을 먹었습니다. 윤미는 같은 크기의...,a = 8\nb = 16\ny = b / a\nprint(y),2
1,1,0.26 x 0.8을 계산해 주세요.,a = 0.26\nb = 0.8\ny = a * b\nprint(y),0.21
2,1,나은이네 모둠과 도진이네 모둠이 전철를 나누어 탔습니다. 나은이네 모둠 8명은 15...,"a = 8\nb = 15\nc = 6\nd = 11\ndicts = {a: b/a,...",8
3,1,두발자전거 12대의 바퀴는 모두 몇 개인지 찾아보시오.,a = 2\nb = 12\ny = a * b\nprint(y),24
4,1,진호가 가진 줄자의 길이는 6m 15 cm 이고 두은이가 가진 줄자의 길이는 0.2...,a = (6 * 100) + 15\nb = (0.25 * 100)\ny = a + ...,640
...,...,...,...,...
995,1,어느 가전 마트에서는 115만 원인 노트북을 어제까지는 30%를 할인하여 판매하였습...,a = 1150000\nb = 30\nc = 15\nd = a - (a * b / ...,684250
996,1,10분 동안 6.53k미터를 가는 자동차와 20분 동안 15.12k미터를 가는 오토...,a = 6.53 / 10\nb = 15.12 / 20\nc = 1 * 60\ny =...,84.54
997,1,4880보다 ○ 큰 수 는 9000입니다. ○안에 알맞은 수를 써 넣으시오.,a = 9000\nb = 4880\ny = a - b\nprint(y),4120
998,1,어느 문구점에서 연필 한 자루는 400원이고 공책 한 권은 1000원입니다. 현승이...,a = 400\nb = 1000\nc = 5000\nd = 5\ne = 2\ny =...,1000
999,1,초콜릿 44개를 상자 11개에 똑같이 나누어 담으려고 합니다. 한 상자에는 몇 개에...,a = 44\nb = 11\ny = a // b\nprint(y),4

In [10]:
dictdata[2]

,class,problem,code,answer
0,2,"진희, 희정, 윤빈, 정현이가 순서대로 줄을 서 있습니다. 4번째에 서 있는 사람은...","a = ['진희', '희정', '윤빈', '정현']\nb = 4\ny = a[b -...",정현
1,2,"현종이는 오늘 국어, 수학, 과학, 사회, 영어 순서로 공부를 하려고 합니다. 3번...","a = ['국어', '수학', '과학', '사회', '영어']\nb = 3\ny =...",과학
2,2,"수정, 민아, 지민, 유정, 현정 순서로 줄을 서려고 합니다. 지민이는 몇번째에 서...","a = ['수정', '민아', '지민', '유정', '현정']\nb = '지민'\n...",3
3,2,키가 작은 사람부터 순서대로 10명이 한 줄로 서 있습니다. 태형이가 앞에서부터 3...,a = 10\nb = 3\ny = (a + 1) - b\nprint(y),8
4,2,"국어 시험에서 정민이는 10등을 했고, 지환이는 8등을 했습니다. 지윤는 지환이보다...",a = 10\nb = 8\ny = (a + b) // 2\nprint(y),9
5,2,"학교에서 수학, 국어, 영어, 과학, 사회의 순서로 시험을 봤습니다. 4번째로 시험...","a = ['수학', '국어', '영어', '과학', '사회']\nb = 4\ny =...",과학
6,2,"일정한 빠르기로 버스 A는 60000m를 가는 데 30분이 걸렸고, 버스 B는 24...",a = 60000\nb = 0.5\nc = 245 * 1000\nd = 2\ndic...,B
7,2,"학생들이 키가 큰 순서대로 줄을 서있다. 승철이의 키는 여섯 번째로 크고, 남일이의...",a = 6\nb = 8\ny = (a + b) // 2\nprint(y),7
8,2,"학교에서 국어, 수학, 영어, 과학, 사회의 순서로 시험을 봤습니다. 세번째로 시험...","a = ['국어', '수학', '영어', '과학', '사회']\nb = 3\ny =...",영어
9,2,"학생들이 키가 큰 순서대로 줄을 서있다. 정환이의 키는 세 번째로 크고, 성철이의 ...",a = 3\nb = 5\ny = (a + b) // 2\nprint(y),4
10,2,"달리기 시합에서 남구는 3등을 했고, 윤서는 5등을 했습니다. 석호는 윤서보다 잘했...",a = 3\nb = 5\ny = b - 1\nwhile y > 0:\n if ...,4
11,2,"학교에서 국어, 수학, 영어의 순서로 시험을 봤습니다. 처음으로 시험을 본 과목은 ...","a = ['국어', '수학', '영어']\nb = 1\ny = a[b - 1]\np...",국어
12,2,"학교에서 국어, 수학, 사회의 순서로 시험을 봤습니다. 세 번째로 시험을 본 과목은...","a = ['국어', '수학', '사회']\nb = 3\ny = a[b - 1]\np...",사회
13,2,"오늘 들어야 하는 수업은 수학, 음악, 영어, 과학, 사회 순서로 수업이 있습니다....","a = ['수학', '음악', '영어', '과학', '사회']\nb = 3\ny =...",영어
14,2,"학교에서 국어, 수학, 영어, 과학, 사회의 순서로 시험을 봤습니다. 두 번째로 시...","a = ['국어', '수학', '영어', '과학', '사회']\nb = 2\ny =...",수학
15,2,"정수, 연호, 윤지, 유진, 유정, 윤수가 순서대로 줄을 서있다고 할때, 3번째에 ...","a = ['정수', '연호', '윤지', '유진', '유정', '윤수']\nb = ...",윤지
16,2,"학생들이 키가 작은 순서대로 줄을 서있다. 승현이의 키는 두 번째로 작고, 동준이의...",a = 2\nb = 4\ny = (a + b) // 2\nprint(y),3
17,2,총 30명의 학생이 한 줄로 서있습니다. 윤정이의 뒤에 12명의 학생이 있다면 윤정...,a = 30\nb = 12\ny = a - b\nprint(y),18
18,2,"동환이의 키는 일곱번째로 크고, 민규의 키는 아홉번째로 크다. 민기의 키는 동환이보...",a = 7\nb = 9\ny = (a + b) // 2\nprint(y),8
19,2,총 30명의 학생들이 키가 큰 순서대로 줄을 서있다. 민지의 뒤에 1명이 있다면 민...,a = 30\nb = 1\ny = a - b\nprint(y),29
20,2,"한수와 친구들이 정민, 수영, 한수, 승현, 찬혁 순으로 한 줄로 서 있습니다. 한...","a = ['정민', '수영', '한수', '승현', '찬혁']\ny = a.inde...",3
21,2,12 이상 24 이하인 자연수는 모두 몇 개일 지 구해보시오.,a = 12\nb = 24\ny = b - a + 1\nprint(y),13
22,2,학생들이 한 줄로 서 있습니다. 금채는 앞에서 세 번째에 서 있습니다. 경원이는 맨...,a = 3\nb = 20\ny = a + b + 1\nprint(y),24
23,2,"정수, 범호, 민호, 남진, 윤정, 유미 순서로 줄을 서려고 합니다. 민호는 몇 번...","a = ['정수', '범호', '민호', '남진', '윤정', '유미']\nb = ...",3
24,2,"학생들이 키가 작은 순서대로 줄을 서있다. 승철이의 키는 열 다섯번째로 작고, 동현...",a = 15\nb = 13\ny = (a + b) // 2\nprint(y),14
25,2,"수련, 민정, 지민, 희선, 현주 순서로 줄을 서려고 할 때, 수련이는 몇번째에 서...","a = ['수련', '민정', '지민', '희선', '현주']\nb = '수련'\n...",1
26,2,"영철이의 키는 열한번째로 크고, 수일이의 키는 열세번째로 크다. 준영이의 키는 영철...",a = 11\nb = 13\ny = (a + b) // 2\nprint(y),12
27,2,"총 30명의 학생이 한 줄로 서있을때, 승철이의 앞에 9명의 학생이 있다면 승철이는...",a = 30\nb = 9\ny = a - b + 1\nprint(y),22
28,2,"자동차 시합에서 승현이는 1등을 했고, 광수는 3등을 했습니다. 경희는 승현이보다 ...",a = 1\nb = 3\ny = (a + b) // 2\nprint(y),2
29,2,"학생들이 키가 큰 순서대로 줄을 서있다. 수환이의 키는 두 번째로 크고, 세형이의 ...",a = 2\nb = 4\ny = (a + b) // 2\nprint(y),3

In [11]:
for i in range(1,9):
    dictdata[i].to_csv(f'data/class{i}.csv', encoding='utf-8-sig')

In [26]:
data = pd.read_csv('data/clean_all_correct.csv')
count = 0
dicdata = data[data['code'].apply(lambda x: 'dict' in x)]

In [29]:
dicdata[dicdata['class']==7]

,Unnamed: 0,class,problem,code,answer
5,5,7,"현수네 집에서 미용실, 병원, 백화점까지의 거리는 각각 4/5km, 1/3km, 0...",a = 4 / 5\nb = 1 / 3\nc = 0.9\ndicts = {'미용실':...,병원
8,8,7,"수정이가 가지고 있는 색연필의 길이는 6.1센티미터 , 볼펜의 길이는 6.5센티미터...","dicts = {""색연필"": 6.1, ""볼펜"": 6.5}\ny = max(dicts...",볼펜
31,31,7,"명숙이네 학교 여학생은 451명, 남학생은 400명 있다면, 명숙이네 학교에는 남학...","a = 451\nb = 400\ndicts = {""여학생"": a, ""남학생"": b}...",여학생
81,81,7,"민지, 호정, 진수는 감자밭에서 감자를 캤습니다. 딴 감자 전체의 2/9은 민지가 ...",a = 2 / 9\nb = a * 3\nc = 1 - (a + b)\ndicts =...,호정
85,85,7,"부채가 1555개, 전기 모기향이 1222개, 모기장이 1666개 있다면, 부채, ...",a = 1555\nb = 1222\nc = 1666\ndicts = {'부채': a...,모기장
...,...,...,...,...,...
2740,2740,7,"현수는 줄넘기를 5일간 하루에 40번씩, 민주는 줄넘기를 6일동안 하루에 30번 씩...","a = 5 * 40\nb = 6 * 30\ndicts = {'현수':a, '민주':...",현수
2742,2742,7,꽃밭에서 성준이네 집까지는 9 m 90 cm이고 현준이네 집까지는 980 cm입니다...,"a = (9 * 100) + 90\nb = 980\ndicts = {'성준': a,...",현준
2743,2743,7,"반포대교와 마포대교의 길이는 각각 2890 m, 2 km 400 m입니다. 반포대교...","a = 2890\nb = 2400\ndicts = {""반포대교"": a, ""마포대교""...",반포대교
2794,2794,7,"가게에 음료수가 12 개씩 7 줄로, 과자가 12 개씩 6줄로 놓여 있습니다. 가게...",a = 12\nb = 7\nc = 12\nd = 6\ndicts = {'음료수': ...,음료수
2800,2800,7,"곤지는 윗몸 일으키기를 60번씩 2일 동안 했고, 상수는 50번씩 3일 동안 했다면...","a = 60\nb = 2\nc = 50\nd = 3\ndicts = {""곤지"": a...",상수